{% extends 'shop/base.html' %}
{% load i18n %}

{% block title %}
{% trans 'Search' %}
{% endblock title %}

{% block content %}
{% if query %}
<h1>{% trans 'Products containing ' %}</h1><h1>{{ query }}</h1>
<h3>
    {% with results.count as total_results %}
    {% trans 'Found' %} {{ total_results }} {% trans 'result' %}{{ total_results|pluralize }}
    {% endwith %}
</h3>
{% for p in results %}
<h4>
    <a href="{{ p.get_absolute_url }}">
        {{ p.name }}
    </a>
</h4>
{{ p.description }}
{% empty %}
<p>{% trans 'There are no results for your query.' %}</p>
{% endfor %}
<p><a href="{% url 'shop:product_search' %}">{% trans 'Search again' %}</a></p>
{% else %}
<h1>{% trans 'Search for product' %}</h1>
<form method="get">
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Search' %}">
</form>
{% endif %}
{% endblock content %}